<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="{% block htmlClass %}{% endblock %}">
<head>
    <meta charset="utf-8">
    <title>{{ bigfoot_theme.title|default('Bigfoot')|trans }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="{{ bigfoot_theme.provided_by|default('provided by C2iS - Agence digitale')|trans }}">

    {% block stylesheets %}
        {% stylesheets '@admin_css' output='css/admin.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <!--[if IE 7]>
        <link rel="stylesheet" href="{{ 'admin/css/font-awesome-ie7.min.css' }}" />
        <![endif]-->

        <!--[if lte IE 8]>
        <link rel="stylesheet" href="{{ 'admin/css/ace-ie.min.css' }}" />
        <![endif]-->

        <!--[if lt IE 9]>
        <script src="{{ 'admin/js/html5shiv.js' }}"></script>
        <script src="{{ 'admin/js/respond.min.js' }}"></script>
        <![endif]-->
    {% endblock %}
</head>

<body class="{% block bodyClass %}{% endblock bodyClass %} skin-bigfoot">
{% block body %}
{% endblock %}

{% block modals %}
<div id="ajax-modal" class="modal container fade" tabindex="-1" style="display: none;"></div>
{% endblock modals %}

{% block javascripts %}
    <script type="text/javascript">
        var
            defaultPortfolioRoute = "{{ path('portfolio_dashboard') }}",
            currentLocale         = "{{ app.request.locale }}",
            basePath              = "{{ app.request.basePath }}",
            tagsPath              = "{{ path('admin_tag_get') }}",
            defaultLocale         = currentLocale,
            locales               = ["{{ localeFlags() | join('","') | raw }}"];

        if("ontouchend" in document) document.write("<script src='{{ asset('admin/js/jquery.mobile.custom.min.js') }}'>" + "<" + "/script>");
    </script>

    <!--[if lte IE 8]>
    <script src="{{ asset('admin/js/excanvas.min.js') }}"></script>
    <![endif]-->

    {% javascripts '@admin_jquery' '@admin_js' output='js/scripts.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts
        "@admin_twig_js"
        output='js/twigs.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="{{ asset('admin/js/date-time/locales/bootstrap-datepicker.' ~ app.request.locale ~ '.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}
</body>
</html>
