<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="{% block htmlClass %}{% endblock htmlClass %}">
<head>
    <meta charset="utf-8">
    <title>{{ bigfoot_theme.title|default('Bigfoot')|trans }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="{{ bigfoot_theme.provided_by|default('provided by C2iS - Agence digitale')|trans }}">

    {% block stylesheets %}
        {% stylesheets
            '@admin_css'
            output='css/bigfoot.css'
            filter='cssrewrite'
            debug=false
            combine=true
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock stylesheets %}
</head>

<body class="{% block bodyClass %}{% endblock bodyClass %} skin-bigfoot">
{% block body %}
{% endblock body %}

{% block modals %}
<div id="ajax-modal" class="modal container fade" tabindex="-1" style="display: none;"></div>
{% endblock modals %}

{% block javascripts %}
    <script type="text/javascript">
        var
            defaultPortfolioRoute = "{{ path('portfolio_dashboard') }}",
            currentLocale         = "{{ app.request.locale }}",
            basePath              = "{{ app.request.basePath }}",
            tagsPath              = "{{ path('admin_tag_get') }}",
            defaultLocale         = currentLocale,
            locales               = ["{{ localeFlags()|join('","')|raw }}"];
    </script>

    {% javascripts
        '@admin_jquery'
        'bundles/bigfootacetheme/js/date-time/bootstrap-datepicker.min.js'
        'bundles/bigfootacetheme/js/date-time/bootstrap-timepicker.min.js'
        'bundles/bigfootacetheme/js/date-time/locales/bootstrap-datepicker.{locale}.js'
        '@admin_js'
        output='js/bigfoot.{locale}.js'
        debug=false
        combine=true
        vars=['locale']
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="{{ asset('bundles/bigfootacetheme/vendor/ckeditor/ckeditor.js') }}"></script>

    {% javascripts
        '@admin_twig_js'
        output='js/bigfoot_twigs.js'
        filter='twig_js'
        debug=false
        combine=true
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock javascripts %}
</body>
</html>
