{% extends isAjax|default(false) ? "BigfootAceThemeBundle::empty.html.twig" : "BigfootAceThemeBundle::base.html.twig" %}

{% block content %}
<form action="{{ form_action }}" method="{{ form_method is defined and form_method in ['GET'] ? 'GET' : 'POST' }}" {{ form_enctype(form) }} class="form-horizontal">
    {%- if form_method is defined %}
    <input type="hidden" name="_method" value="{{ form_method }}" />
    {%- endif %}
    <div class="row">
        <div class="col-sm-12">
            <div class="widget-box">
                <div class="widget-header">
                    <h4>{{ form_title|default('Edition')|trans }}</h4>
                    <span class="widget-toolbar">
                        <div class="locales-container"></div>
                    </span>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        {%- block form %}
                        {{ form_widget(form) }}
                        {%- endblock form %}
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                {% if form_cancel_route is defined %}
                                    &nbsp;
                                    <a href="{{ path(form_cancel_route) }}" class="btn btn-link{% if form_cancel_class is defined %}{{ form_cancel_class }}{% endif %}">{{ 'Cancel'|trans }}</a>
                                {% endif %}
                                {% if delete_form is defined and delete_form_action is defined %}
                                    &nbsp;
                                    <a href="#" id="edit-form-delete-action" class="btn btn-danger"
                                       data-confirm-title="{{ 'Please confirm'|trans }}"
                                       data-confirm-message="{{ 'Are you sure you want to perform this action ? The object will be permanently lost.'|trans }}"
                                       data-confirm-button-cancel="{{ "Cancel"|trans }}"
                                       data-confirm-button-ok="{{ "Confirm"|trans }}">
                                        <i class="icon-remove bigger-110"></i>
                                        {{ "Delete" | trans }}
                                    </a>
                                {% endif %}
                                {% if isAjax == false %}
                                    <button class="btn btn-success" type="submit">
                                        <i class="icon-ok bigger-110"></i>
                                        {{ form_submit|default('Submit')|trans }}
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% if delete_form is defined and delete_form_action is defined %}
<form action="{{ delete_form_action }}" method="POST" id="delete-form">
    <input type="hidden" name="_method" value="DELETE" />
    {{ form_widget(delete_form) }}
</form>
{% endif %}
{% endblock content %}