{% extends 'BigfootAceThemeBundle::base.html.twig' %}

{% block content %}
    <table id="grid-table"></table>
    <div id="grid-pager"></div>

    <script type="text/javascript">
        var grid_data = [
            {% for item in list_items -%}
            {
                {% for attr, field in list_fields -%}
                {{ field | replace({' ': '_', "'":'_'}) }}:'{{ attribute(item, attr) | e('js') }}',
                {% endfor -%}
                id: '{{ item.id }}'
            }{% if loop.last == false %},{% endif %}
            {% endfor -%}
        ];

        jQuery(function($) {
            var grid_selector = "#grid-table";
            var pager_selector = "#grid-pager";

            jQuery(grid_selector).jqGrid({

                data:       grid_data,
                datatype:   "local",
                height:     411,
                colNames:[{% for attr, field in list_fields %}'{{ field | trans }}'{% if loop.last == false %},{% endif %} {% endfor %}, '{{ 'Actions' | trans }}'],
                colModel:[
                    {% for attr, field in list_fields -%}
                    { name:'{{ field | replace({' ': '_', "'":'_'}) }}', index:'{{ field | trans | replace({' ': '_', "'":'_'}) }}' },
                    {% endfor -%}
                    {name:'actions', width:80, fixed:true, sortable:false, resize:false, formatter:linkformatter}
                ],

                viewrecords:    true,
                rowNum:         10,
                rowList:        [10,20,30],
                pager :         pager_selector,
                altRows:        true,

                multiboxonly:   true,

                loadComplete : function() {
                    var table = this;
                    setTimeout(function() {
                        styleCheckbox(table);

                        updateActionIcons(table);
                        updatePagerIcons(table);
                        enableTooltips(table);
                    }, 0);
                },

                autowidth:  true,
                caption:    "{{ list_title | trans }}"
            });

            function linkformatter(cellValue, options, rowdata) {
                var route = "{{ path(list_edit_route, { "id": "PLACEHOLDER" }) }}";
                route = route.replace("PLACEHOLDER", rowdata.id);
                return '<a class="btn btn-link" href="'+route+'"><i class="icon-pencil"></i></a>';
            }

            //navButtons
            jQuery(grid_selector).jqGrid('navGrid',pager_selector,
                { 	//navbar options
                    edit:           false,
                    add:            false,
                    del:            false,
                    search:         true,
                    searchicon :    'icon-search orange',
                    refresh:        true,
                    refreshicon :   'icon-refresh green',
                    view:           false
                },
                {
                    recreateForm: true,
                    beforeShowForm : function(e) {
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                        style_edit_form(form);
                    }
                },
                {
                    //new record form
                    closeAfterAdd:  true,
                    recreateForm:   true,
                    viewPagerButtons: false,
                    beforeShowForm : function(e) {
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                        style_edit_form(form);
                    }
                },
                {
                    //delete record form
                    recreateForm: true,
                    beforeShowForm : function(e) {
                        var form = $(e[0]);
                        if(form.data('styled')) return false;

                        form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                        style_delete_form(form);

                        form.data('styled', true);
                    },
                    onClick : function(e) {
                        alert(1);
                    }
                },
                {
                    //search form
                    recreateForm: true,
                    afterShowSearch: function(e) {
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
                        style_search_form(form);
                    },
                    afterRedraw: function(){
                        style_search_filters($(this));
                    }
                    ,
                    multipleSearch: true
                },
                {
                    //view record form
                    recreateForm: true,
                    beforeShowForm: function(e) {
                        var form = $(e[0]);
                        form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
                    }
                }
            );

            {% if theme.page_content.globalActions is defined and theme.page_content.globalActions|length -%}
            jQuery(grid_selector).jqGrid('navSeparatorAdd', pager_selector, {});
            {% for item in theme.page_content.globalActions.items -%}
            jQuery(grid_selector).jqGrid('navButtonAdd', pager_selector, {
                caption: '',
                title: '{{ item.label | trans }}',
                {% if item.icon %}buttonicon: 'icon-{{ item.icon }}',{% endif %}
                onClickButton: function() {
                    window.location.href = '{{ path(item.route, item.parameters) }}';
                }
            });
            {% endfor %}
            {% endif -%}
        });
    </script>
{% endblock content %}