{% block _admin_page_template_title_desc_sidebar_sidebars_widget block('sidebars_widget') %}
{% block _admin_page_template_title_desc_img_sidebar_sidebars_widget block('sidebars_widget') %}
{% block _admin_page_template_title_desc_block_sidebar_sidebars_widget block('sidebars_widget') %}
{% block _admin_page_template_title_desc_img_block_sidebar_sidebars_widget block('sidebars_widget') %}

{% block sidebars_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
        {% endif %}

        <div class="col-sm-3"></div>
        <div class="panel-group col-xs-10 col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Sidebars
                        <span>
                            <a href="#" class="admin-add-page-sidebar pull-right"><i class="icon-plus bigger-130"></i></a>
                        </span>
                    </h4>
                </div>
                <div class="panel-body">
                    <ul {{ block('widget_container_attributes') }}>
                        {% for child in form %}
                            {{ form_row(child) }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock sidebars_widget %}

{% block admin_page_sidebar_row %}
    {% spaceless %}
        <li class="sidebar-row">
            <div class="pull-right">
                <a href="#" class="admin-delete-page-sidebar"><i class="icon-remove red bigger-130"></i></a>
            </div>

            {{ form_row(form.sidebar, { 'attr': { 'class': 'admin_sidebar_select' }}) }}

            <div class="clear"></div>

            <div class="form-group">
                {{ form_label(form.template, 'Template') }}

                <fieldset>
                    {% for template in form.template %}
                        <label style="text-align:center;">
                            {{ form_widget(template) }}
                            <img src="{{ asset('images/template/sidebar/' ~ template.vars.label ~ '.svg') }}" width="80" height="80"><br />
                            <span style="font-size:9px;">{{ template.vars.label }}</span>
                        </label>
                    {% endfor %}
                </fieldset>
            </div>

            <hr />
        </li>
    {% endspaceless %}
{% endblock admin_page_sidebar_row %}

{% block radio_widget %}
    {% spaceless %}
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {% endspaceless %}
{% endblock radio_widget %}