{% form_theme form 'BigfootAceThemeBundle:snippets:form_div_layout.html.twig' %}

<tr class="well portfolio-edit-form-{{ id }}">
    <td colspan="9">
        <form action="{{ path('portfolio_edit', {id: id}) }}" class="portfolio-edit-form form-horizontal clearfix" method="post" {{ form_enctype(form) }}>
            <div class="col-sm-12 portfolio-media-edit">
                {{ form_rest(form) }}
            </div>
            <div style="display: none">{{ form_rest(form) }}</div>
            {{ form_errors(form) }}
            <hr/>
            <button type="submit" class="btn btn-success pull-right">{{ "Save" | trans }}</button><br/>
        </form>
    </td>
</tr>
