{% set breadcrumb = knp_breadcrumb_render(name, action|default(null)) %}

{% if breadcrumb|length > 1 %}
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            {% for item in breadcrumb %}
                <li>
                    {% if item.uri is not empty %}
                        {% if item.item.linkAttributes.icon is not null %}
                            <i class="icon-{{ item.item.linkAttributes.icon }}"></i>
                        {% endif %}
                        <a href="{{ item.uri }}">{{ item.label | trans }}</a>
                    {% else %}
                        {% if item.item.linkAttributes.icon is not null %}
                            <i class="icon-{{ item.item.linkAttributes.icon }}"></i>
                        {% endif %}
                        {{ item.label | trans() }}
                    {% endif %}

                    {% if not loop.last %}
                    {% endif %}
                </li>
            {% endfor %}

            {# <li>{{ app.request.get('_route') }}</li> #}
        </ul>

        {# {{ render(controller('BigfootCoreBundle:QuickLink:quickLinkStar', { 'currentRoute' : app.request.uri })) }} #}
    </div>
{% endif %}
