<div class="navbar navbar-default" id="navbar">
    {% block toolbar %}
        <div class="navbar-container" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="{{ path('admin_home') }}" class="navbar-brand">
                    Sandbox - <small>Démo</small>
                </a>
            </div>

            <div class="navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="infos">
                        <ul class="nav ace-nav info-nav">
                            <li class="light-blue">
                                <a data-toggle="dropdown" href="#" class="dropdown-toggle align-right">
                                    <i class="icon-user"></i>
                                    <span class="user-info align-left">
                                        <small>Bienvenue,</small>
                                        {{ app.user.fullName }}
                                    </span>
                                    <i class="icon-caret-down align-center icon-on-right"></i>
                                </a>

                                <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                    <li>
                                        <a href="{{ path('admin_user_edit', { 'id': app.user.id }) }}">
                                            <i class="icon-user"></i>
                                            Profile
                                        </a>
                                    </li>

                                    <li class="divider"></li>

                                    <li>
                                        <a href="{{ path('admin_logout') }}">
                                            <i class="icon-off"></i>
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            {% if theme.toolbar.menu is defined and theme.toolbar.menu.items|length and app.security.token %}
                                <li class="account">
                                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                        <i class="icon-user"></i>
                                        <span class="user-info">
                                            <small>{{ 'Welcome'|trans }},</small>
                                            {{ app.user.fullName }}
                                        </span>

                                        <i class="icon-caret-down"></i>
                                    </a>
                                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                        {% for item in theme.toolbar.menu.items %}
                                            <li>
                                                <a href="{{ path(item.route, item.parameters) }}">
                                                    <i class="icon-{{ item.icon }}"></i> {{ item.label|trans }}
                                                </a>
                                            </li>
                                        {%  endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    {% endblock %}
</div>