<button type="button" class="close" data-dismiss="alert">
    <i class="icon-remove"></i>
</button>

<p>
    {% if (icon is defined and icon) or (heading is defined and heading) %}
    <strong>
        {% if icon is defined %}
        <i class="icon-{{ icon }}"></i>
        {% endif %}
        {% if heading is defined %}{{ heading | trans }}{% endif %}
    </strong>
    {% endif %}
    {% if message is defined %}{{ message | trans }}{% endif %}
</p>

{% if actions is defined and actions %}
<p>
    {% for action in actions %}
        {% if action %}
            <a class="btn btn-sm btn-{{ action.type }}" href="{{ action.route }}">{{ action.label | trans }}</a>
        {% endif %}
    {% endfor %}
</p>
{% endif %}
