{% extends bigfoot_theme_bundle ~ '::layout.html.twig' %}

{% block content %}
    <div class="table-header">
        <div class="pull-left">
            {{ list_title|trans }}
        </div>

        {% block global_actions %}
            <div class="pull-right">
                {% for globalAction in globalActions %}
                    <div class="action-buttons">
                        <a href="{{ path(globalAction.route, globalAction.parameters) }}" class="mg-right-5">
                            <i class="icon-plus-sign white bigger-140"></i>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}

        {% block index_actions %}
        {% endblock index_actions %}

        <div class="clearfix"></div>
    </div>

    {% if list_filters is not null %}
        {% include bigfoot_theme_bundle ~ ':crud:form_filters.html.twig' with {'form': list_filters} only %}
    {% endif %}

    <table class="table table-striped table-bordered table-hover">
        {% block table_head %}
            <thead>
            <tr>
                <th>{{ 'bigfoot_core.translatable_label.index.category'|trans }}</th>
                <th>{{ 'bigfoot_core.translatable_label.index.name'|trans }}</th>
                <th>{{ 'bigfoot_core.translatable_label.index.value'|trans }}</th>
                <th>{{ 'bigfoot_core.translatable_label.index.editedAt'|trans }}</th>
                <th>{{ 'bigfoot_core.crud.index.actions'|trans }}</th>
            </tr>
            </thead>
        {% endblock table_head %}
        {% block table_body %}
            <tbody>
            {% for item in list_items %}
                <tr class="entity-edit">
                    <td>{{ item.name|translatable_label_category|trans }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.value }}</td>
                    <td>{{ item.editedAt|date('d/m/Y') }}</td>
                    {% block table_actions %}
                        <td>
                            <div class="action-buttons">
                                {% for action in actions %}
                                    <a href="{{ path(action.route, { 'domain': item.domain, 'name': item.name }) }}" class="{{ action.color }} {{ action.icon }}{% if action.class is defined %} {{ action.class }}{% endif %}"{% if action.attributes is defined %}{% for key, value in action.attributes %} {{ key }}="{{ value }}"{% endfor %}{% endif %}>
                                    <i class="icon-{{ action.icon }} bigger-130"></i>
                                    </a>
                                {% endfor %}
                            </div>
                        </td>
                    {% endblock table_actions %}
                </tr>
            {% endfor %}
            </tbody>
        {% endblock table_body %}
    </table>

    <div class="row text-center">
        {{ knp_pagination_render(list_items) }}
    </div>
{% endblock %}
