<form action="{{ action_route }}" method="post" class="form-horizontal" {{ form_enctype(form) }}>
    {% if method is defined %}
    <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            <div class="widget-box">
                <div class="widget-header">
                    <h4>{{ form_title | trans }}</h4>
                    <span class="widget-toolbar">
                        <div id="locales-container"></div>
                    </span>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        {{ form_widget(form) }}

                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-primary" type="submit">
                                    <i class="icon-ok bigger-110"></i>
                                    {{ action_name | trans }}
                                </button>
                                {% if delete_form is defined and delete_action is defined %}
                                    &nbsp;
                                    <a href="#" id="edit-form-delete-action" class="btn btn-danger"
                                       data-confirm-title="{{ 'Please confirm' | trans }}"
                                       data-confirm-message="{{ 'Are you sure you want to perform this action ? The object will be permanently lost.' | trans }}"
                                       data-confirm-button-cancel="{{ "Cancel" | trans }}"
                                       data-confirm-button-ok="{{ "Confirm" | trans }}">
                                        <i class="icon-remove bigger-110"></i>
                                        {{ "Delete" | trans }}
                                    </a>
                                {% endif %}
                                {% if cancel_route is defined %}
                                    &nbsp;
                                    <a href="{{ path(cancel_route) }}" class="btn btn-link">{{ 'Cancel' | trans }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% if delete_form is defined and delete_action is defined %}
<form action="{{ delete_action }}" method="post" id="delete-form">
    <input type="hidden" name="_method" value="DELETE" />
    {{ form_widget(delete_form) }}
</form>
{% endif %}