{% extends bigfoot_theme_bundle ~ '::layout' ~ app.request.get('layout') ~ '.html.twig' %}

{% block content %}
    {% form_theme form bigfoot_theme_bundle ~ ':form_custom:inline.html.twig' %}

    {{ form_start(form, {'action': form_action, 'method': form_method|default('POST')}) }}
        <div class="row">
            <div class="col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h4>{{ form_title }}</h4>
                        <span class="widget-toolbar">
                            <div class="locales-container"></div>
                        </span>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            {% block form %}
                                {%- set groups = form.vars.groups.config|default([]) -%}
                                {%- set groupsAttr = form.vars.groups.attr|default([]) -%}
                                {%- if groups -%}
                                    {%- set groupsType = groupsAttr.type|default('tabs') -%}
                                    {%- if groupsType == 'accordion' -%}
                                        <div id="formAccordion" class="accordion-{{ groupsAttr.style|default('style1') }} panel-group">
                                    {%- else -%}
                                        <div class="tabbable {{ groupsAttr.style|default('') }}">
                                            <ul id="crudGroup" class="nav nav-tabs">
                                                {%- for group in groups -%}
                                                    <li{% if loop.first %} class="active"{% endif %}><a data-toggle="tab" href="#{{ group.title|replace({'.': ''})}}">{{ group.title|trans }}</a></li>
                                                {%- endfor -%}
                                            </ul>
                                            <div id="crudGroupContent" class="tab-content">
                                    {%- endif -%}
                                    {{ form_errors(form) }}
                                    {% for group in groups %}
                                        {%- set columns = groupsAttr.columns|default(1) -%}
                                        {%- if groupsType == 'accordion' -%}
                                             <div class="panel panel-default">
                                                 <div class="panel-heading">
                                                     <h4 class="panel-title">
                                                         <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#formAccordion" href="#{{ group.title|replace({'.': ''})}}">
                                                             <i class="bigger-110 ace-icon fa fa-angle-right" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                                             &nbsp;{{ group.title|trans }}
                                                         </a>
                                                     </h4>
                                                 </div>
                                             </div>
                                             <div class="panel-collapse collapse" id="{{ group.title|replace({'.': ''})}}">
                                                 <div class="panel-body">
                                        {%- else -%}
                                        <div class="tab-pane{% if loop.first %} active{% endif %}" id="{{ group.title | replace({'.': ''})}}">
                                        {%- endif -%}
                                            {%- if group.content is defined -%}
                                                {%- if group.description is defined -%}
                                                    <blockquote>{{ group.description }}</blockquote>
                                                {%- endif %}
                                                {%- for row in group.content -%}
                                                    <div class="span{{ 12 / columns }}">
                                                        {{ form_row(form[row]) }}
                                                    </div>
                                                {%- endfor -%}
                                            {%- endif -%}
                                        {%- if groupsType == 'accordion' -%}
                                                </div>
                                             </div>
                                        {%- else -%}
                                            </div>
                                        {%- endif -%}
                                    {% endfor %}
                                            </div>
                                        </div>

                                    <div style="display: none">
                                        {{ form_rest(form) }}
                                    </div>
                                {% else %}
                                    {{ form_rest(form) }}
                                {% endif %}
                            {% endblock %}

                            {% block form_actions %}
                                <div class="clearfix form-actions">
                                    <div class="col-md-offset-3 col-md-9">
                                        {% if form_cancel is defined %}
                                            <a href="{{ path(form_cancel) }}" class="btn btn-info">
                                                <i class="icon-remove bigger-110"></i>
                                                {{ 'Cancel'|trans }}
                                            </a>
                                        {% endif %}

                                        <button class="btn btn-success" type="submit">
                                            <i class="icon-ok bigger-110"></i>
                                            {{ form_submit|default('Submit')|trans }}
                                        </button>
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
