{% extends bigfoot_theme_bundle ~ '::layout' ~ app.request.get('layout') ~ '.html.twig' %}

{% block content %}
    {% form_theme form bigfoot_theme_bundle ~ ':form_custom:inline.html.twig' %}

    {{ form_start(form, {'action': form_action, 'method': form_method|default('POST')}) }}
        <div class="row">
            <div class="col-sm-12">
                <div class="widget-box">
                    <div class="widget-header">
                        <h4>{{ form_title|trans() }}</h4>
                        <span class="widget-toolbar">
                            <div class="locales-container"></div>
                        </span>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            {%- set formErrors = app.session.get('bigfoot_core.crud.form.'~form_name|default('')~'.errors') -%}
                            {%- if formErrors -%}
                                <ul>
                                {%- for errorsField in formErrors -%}
                                    {%- for error in errorsField -%}
                                        <li>{{ error.field|default('Field') }} : {{ error.message }}</li>
                                    {%- endfor -%}
                                {%- endfor -%}
                                </ul>
                                {% set formErrors = app.session.remove('bigfoot_core.crud.form.'~form_name|default('')~'.errors') %}
                            {%- endif -%}
                            {% block form %}
                                {%- set groups = form.vars.groups|default([]) -%}
                                {%- set groupsConfig = groups.config|default([]) -%}
                                {%- set groupsAttr = groups.attr|default([]) -%}
                                {%- if groups -%}
                                    {%- set groupsType = groupsAttr.type|default('tabs') -%}
                                    {%- if groupsType == 'accordion' -%}
                                        <div id="formAccordion" class="accordion-{{ groupsAttr.style|default('style1') }} panel-group">
                                    {%- else -%}
                                        <div class="tabbable {{ groupsAttr.style|default('') }}">
                                            <ul id="crudGroup" class="nav nav-tabs">
                                                {%- for group in groupsConfig -%}
                                                    <li{% if loop.first %} class="active"{% endif %}><a data-toggle="tab" href="#{{ group.title|replace({'.': ''})}}">{{ group.title|trans }}</a></li>
                                                {%- endfor -%}
                                            </ul>
                                            <div id="crudGroupContent" class="tab-content">
                                    {%- endif -%}
                                    {{ form_errors(form) }}
                                    {% for group in groupsConfig %}
                                        {%- set columns = groupsAttr.columns|default(1) -%}
                                        {%- if groupsType == 'accordion' -%}
                                             <div class="panel panel-default">
                                                 <div class="panel-heading">
                                                     <h4 class="panel-title">
                                                         <a class="accordion-toggle{% if not loop.first %} collapsed{% endif %}" data-toggle="collapse" data-parent="#formAccordion" href="#{{ group.title|replace({'.': ''})}}">
                                                             <i class="bigger-110 ace-icon fa fa-angle-right" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                                             &nbsp;{{ group.title|trans }}
                                                         </a>
                                                     </h4>
                                                 </div>
                                                 <div class="panel-collapse collapse{% if loop.first %} in{% endif %}" id="{{ group.title|replace({'.': ''})}}">
                                                     <div class="panel-body">
                                        {%- else -%}
                                        <div class="tab-pane{% if loop.first %} active{% endif %}" id="{{ group.title | replace({'.': ''})}}">
                                        {%- endif -%}
                                            {%- if group.content is defined -%}
                                                {%- if group.description is defined -%}
                                                    <blockquote>{{ group.description }}</blockquote>
                                                {%- endif %}
                                                {%- for row in group.content -%}
                                                    <div class="span{{ 12 / columns }}">
                                                        {{ form_row(form[row]) }}
                                                    </div>
                                                {%- endfor -%}
                                            {%- endif -%}
                                        {%- if groupsType == 'accordion' -%}
                                                    </div>
                                                </div>
                                            </div>
                                        {%- else -%}
                                            </div>
                                        {%- endif -%}
                                    {% endfor %}
                                            </div>
                                        </div>

                                    <div style="display: none">
                                        {{ form_rest(form) }}
                                    </div>
                                {% else %}
                                    {{ form_rest(form) }}
                                {% endif %}
                            {% endblock %}

                            {% block form_actions %}
                                <div class="clearfix form-actions">
                                    <div class="col-md-offset-3 col-md-9">
                                        {% if form_cancel is defined %}
                                            <a href="{{ path(form_cancel) }}" class="btn btn-info">
                                                <i class="icon-remove bigger-110"></i>
                                                {{ 'Cancel'|trans }}
                                            </a>
                                        {% endif %}

                                        <button class="btn btn-success" type="submit">
                                            <i class="icon-ok bigger-110"></i>
                                            {{ form_submit|default('Submit')|trans }}
                                        </button>
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/admin/js/flot/jquery.flot.min.js"></script>
    <script src="/admin/js/flot/jquery.flot.pie.min.js"></script>
    <script src="/admin/js/flot/jquery.flot.resize.min.js"></script>
    <script src="/admin/js/flot/jquery.flot.time.js"></script>

    <script type="text/javascript">
        function getRandomInt (min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        var times = [1406543258000, 1406629658000, 1406716058000, 1406802458000, 1406888858000, 1406975258000, 1407061658000, 1407148058000, 1407234458000, 1407320858000, 1407407258000, 1407493658000, 1407580058000, 1407666458000, 1407752858000, 1407839258000, 1407925658000, 1408012058000, 1408098458000, 1408184858000, 1408271258000, 1408357658000, 1408444058000, 1408530458000, 1408616858000, 1408703258000, 1408789658000, 1408876058000, 1408962458000, 1409048858000, 1409135258000];
        var d1 = [[1406543258000, 1400], [1406629658000, 1365], [1406716058000, 1025], [1406802458000, 1230], [1406888858000, 1053], [1406975258000, 1075], [1407061658000, 1080], [1407148058000, 1112], [1407234458000, 1100], [1407320858000, 1059], [1407407258000, 950], [1407493658000, 750], [1407580058000, 760], [1407666458000, 800], [1407752858000, 900], [1407839258000, 690], [1407925658000, 500], [1408012058000, 300], [1408098458000, 275], [1408184858000, 270], [1408271258000, 280], [1408357658000, 260], [1408444058000, 240], [1408530458000, 230], [1408616858000, 260], [1408703258000, 300], [1408789658000, 290], [1408876058000, 200], [1408962458000, 250], [1409048858000, 240], [1409135258000, 245]];

        var d2 = [];
        for (var i = 0; i < times.length; i++) {
            d2.push([times[i], (d1[i][1]) * getRandomInt(80, 120) / 100]);
        }

        var stats_graph = $('#stats-graph').css({'height':'250px'});
        $.plot("#stats-graph", [
            { label: "Pages vues ce mois ci", data: d1, color: '#0080ff', lines: { show: true, fill: true, fillColor: '#f5f5f5' }, points: { show: true } },
            { label: "Pages vues le mois dernier", data: d2, color: '#ffcc00', lines: { show: true }, points: { show: true } }
        ], {
            axisLabels: {
                show: false
            },
            hoverable: true,
            shadowSize: 0,
            xaxis: {
                mode: 'time',
                monthNames: ["jan", "fév", "mar", "avr", "mai", "juin", "juil", "aout", "sept", "oct", "nov", "dec"],
                dayNames: ["dim", "lun", "mar", "mer", "jeu", "ven", "sam"],
                timeformat: "%d %b",
                axisLabel: 'Pages vues'
            },
            yaxis: {
                min: 5
            },
            grid: {
                backgroundColor: { colors: [ "#fff", "#fff" ] },
                borderWidth: 1,
                borderColor:'#555'
            }
        });
    </script>
{% endblock %}
