{% use 'form_div_layout.html.twig' %}

{% block form_start %}
    {% set widgetClass = 'form-horizontal ' %}
    {% if attr.class is defined %}
        {% set widgetClass = widgetClass ~ attr.class %}
    {% endif %}
    {% set attr = (attr | merge({class: widgetClass})) %}
    {{ attr }}
    {{ parent() }}
{% endblock %}

{% block form_label %}
    {% set widgetClass = 'control-label col-sm-3 ' %}
    {% if label_attr.class is defined %}
        {% set widgetClass = widgetClass ~ label_attr.class %}
    {% endif %}
    {% set label_attr = (label_attr | merge({class: widgetClass})) %}
    {{ parent() }}
{% endblock %}

{% block form_widget_simple %}
    {% set widgetClass = 'col-xs-10 col-sm-5 ' %}
    {% if attr.class is defined %}
        {% set widgetClass = widgetClass ~ attr.class %}
    {% endif %}
    {% set attr = (attr | merge({class: widgetClass})) %}
    {{ parent() }}
{% endblock %}

{% block textarea_widget %}
    {% set widgetClass = 'col-xs-10 col-sm-5 ' %}
    {% if attr.class is defined %}
        {% set widgetClass = widgetClass ~ attr.class %}
    {% endif %}
    {% set attr = (attr | merge({class: widgetClass})) %}
    {{ parent() }}
{% endblock %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {{ form_widget(child) }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block choice_widget_collapsed %}
    {% set widgetClass = 'width-30 chosen-select ' %}
    {% if multiple %}
        {% set widgetClass = widgetClass~'tag-input-style ' %}
    {% endif %}
    {% if attr.class is defined %}
        {% set widgetClass = widgetClass ~ attr.class %}
    {% endif %}
    {% set attr = (attr | merge({class: widgetClass})) %}
    {{ parent() }}
{% endblock choice_widget_collapsed %}

{% block checkbox_widget %}
    {% spaceless %}
        {% set widgetClass = 'ace ace-switch ace-switch-7 ' %}
        {% if attr.class is defined %}
            {% set widgetClass = widgetClass ~ attr.class %}
        {% endif %}
        {% set attr = (attr | merge({class: widgetClass})) %}
        <label>
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            <span class="lbl"></span>
        </label>
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block radio_widget %}
    {% spaceless %}
        <div class="radio">
            <label>
                <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            </label>
        </div>
    {% endspaceless %}
{% endblock radio_widget %}

{% block bigfoot_media_widget %}
    {% spaceless %}
        <div class="field-media">
        {% if value %}
            <a class="portfolio-popin-open" href="{{ path('portfolio_popin', {'id': value}) }}"data-base-href="{{ path('portfolio_popin') }}"><img class="crud-column-media" src="{{ value | media }}" /></a>
        {% else %}
            <a class="portfolio-popin-open btn" href="{{ path('portfolio_popin') }}" data-base-href="{{ path('portfolio_popin') }}">{{ 'Upload or select medias' | trans }}</a>
        {% endif %}
        {% set type = 'hidden' %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
    </div>
{% endblock %}

{% block collection_widget %}
    <label class="control-label col-sm-3">{{ label }}</label>
    {% if prototype is defined %}
    <div class="col-xs-10 col-sm-5 ">
        <a href="#" class="addCollectionItem btn btn-link" data-collection-id="#{{ id }}" data-prototype-name="{{ prototype_name | default('__name__') }}">{{ 'Add' | trans }}</a>
    </div>
    {% endif %}
</div>
<div class="form-group">
    {{ parent() }}
{% endblock %}

{% block bigfoot_collection_item_widget %}
    <div class="col-sm-3 "></div>
    <div id="accordion-container-{{ id }}" class="sortable-collection-item accordion-style1 panel-group col-xs-10 col-sm-5 ">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-container-{{ id }}" href="#accordion-{{ id }}">
                        <i class="icon-angle-down bigger-110" data-icon-hide="icon-angle-down" data-icon-show="icon-angle-right"></i>
                        &nbsp;{{ value.__toString() | default('new item') | trans }}
                        <a href="#_" class="deleteCollectionItem pull-right"><i class="icon-trash bigger-110"></i></a>
                    </span>
                </h4>
            </div>
            <div class="panel-collapse collapse in" id="accordion-{{ id }}">
                <div class="panel-body">
                    {{ block('form_widget') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {% if not form.vars.compound %}
            {{ form_label(form) }}
            {% endif %}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}
