{% block _admin_sidebar_template_block_blocks_widget block('blocks_widget') %}
{% block _admin_sidebar_template_title_block_blocks_widget block('blocks_widget') %}
{% block _admin_sidebar_template_img_block_blocks_widget block('blocks_widget') %}
{% block _admin_sidebar_template_title_img_block_blocks_widget block('blocks_widget') %}
{% block _admin_sidebar_template_title_desc_block_blocks_widget block('blocks_widget') %}
{% block _admin_sidebar_template_title_desc_img_block_blocks_widget block('blocks_widget') %}

{% block blocks_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
        {% endif %}

        <div class="col-sm-2"></div>
        <div class="panel-group col-xs-10 col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Blocks
                        <span>
                            <a href="#" class="ajax-modal admin-create-block" data-toggle="modal" data-url="{{ path('admin_content_template_choose', { 'contentType': 'block', 'layout': '_modal' }) }}" data-title="Create a new block">Create a new block</a>
                            <a href="#" class="admin-add-block pull-right"><i class="icon-plus bigger-130"></i></a>
                        </span>
                    </h4>
                </div>
                <div class="panel-body">
                    <ul {{ block('widget_container_attributes') }}>
                        {% for child in form %}
                            {{ form_row(child) }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock blocks_widget %}

{% block admin_sidebar_block_row %}
    {% spaceless %}
        <li class="block-row">
            <div class="pull-right">
                <a href="#" class="admin-edit-block" data-toggle="modal" data-title="Edit block"><i class="icon-edit bigger-130"></i></a>
                <a href="#" class="admin-delete-block"><i class="icon-remove red bigger-130"></i></a>
            </div>

            {{ form_row(form.block, { 'attr': { 'class': 'admin_block_select' }}) }}

            <div class="clear"></div>

            {{ form_row(form.position) }}

            <div class="clear"></div>

            <div class="form-group">
                {{ form_label(form.template, 'Template') }}

                <fieldset>
                    {% for template in form.template %}
                        <label style="text-align:center;">
                            {{ form_widget(template) }}
                            {% set templateFileName = template.vars.value %}
                            {% if '/' in templateFileName %}
                                {% set templateFileName = template.vars.value|split('/')|slice(1)|join('/') %}
                            {% endif %}
                            <img src="{{ asset('images/template/block/' ~ templateFileName ~ '.svg') }}" width="80" height="80"><br />
                            <span style="font-size:9px;">{{ template.vars.label }}</span>
                        </label>
                    {% endfor %}
                </fieldset>
            </div>

            <hr />
        </li>
    {% endspaceless %}
{% endblock admin_sidebar_block_row %}

{% block radio_widget %}
    {% spaceless %}
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {% endspaceless %}
{% endblock radio_widget %}